<%= turbo_stream_from @event %>
<div class="container mx-auto px-4 py-4 shadow text-sm">
  <div class="px-2 md:px-8 mb-4">
    <h1 class="text-xl mb-4"><%= @event.title %></h1>
    <h2 class="mb-4 text-xl"><%= @event.message %></h2>
    <% if @event.refer_url %>
      <p class="mb-2 py-2">Refer: <%= @event.refer_url %></p>
    <% end %>
    <% if @event.url || @event.params&.dig('url') %>
      <p class="mb-2 py-2">Request: <%= @event.url || @event.params&.dig('url') %></p>
    <% end %>
    <% if @event.user_email %>
      <p class="mb-2 py-2">User: <%= @event.user_email %></p>
    <% end %>
    <% if @event.ip_address %>
      <p class="mb-2 py-2">IP: <%= @event.ip_address %></p>
    <% end %>
    <% if @event.user_os %>
      <p class="mb-2 py-2">OS: <%= @event.user_os %></p>
    <% end %>
    <% if @event.user_device %>
      <p class="mb-2 py-2">Device: <%= @event.user_device %></p>
    <% end %>
    <% if @event.user_browser %>
      <p class="mb-2 py-2">Browser: <%= @event.user_browser %></p>
    <% end %>
    <p class="mb-2 py-2">This appeared: <%= @event.created_at %></p>
    <p class="mb-2 py-2">Last appeared: <%= @event.last_occurrence_at || @event.created_at%></p>
    <% if @event.parent? && @event.occurrence_count.positive? %>
      <p class="mb-4 py-2">
        <span>
          Occurrences total: <%= @event.occurrence_count %>
        </span>
      </p>
    <% end %>
    <% if @event.occurrence? %>
      <p class="mb-4 py-2">
        <%= link_to 'View first', event_path(@event.parent_id), class: 'rounded bg-gray-100 hover:bg-gray-200 p-2' %>
      </p>
    <% end %>
    <p class="mb-2 py-2">
      <%= link_to 'Request and headers', event_request_params_path(@event), class: 'rounded bg-gray-100 hover:bg-gray-200 p-2' %>
    </p>
  </div>
  <div class="flex flex-col md:flex-row p-2 md:px-8 mb-2">
    <%= render partial: 'events/assignee', locals: { event: @event } %>
    <%= render partial: 'events/status', locals: { event: @event } %>
  </div>
  <div class="md:px-8 mb-4 py-2 border rounded border-blue-300 font-semibold">
    <%= turbo_frame_tag 'gpt_help', src: event_gpt_path(@event) do %>
        Asking ChatGPT... 🐢
    <% end %>
  </div>
  <div class="traces" data-controller="event">
    <% if @event.project_trace? %>
      <button role="button" class="fixed h-14 md:bottom-24 bottom-56 right-8 z-20 text-white rounded-full bg-gray-100 md:bg-gray-200 md:shadow text-3xl w-14 p-2 cursor-pointer" data-action="click->event#navigate">
        <%= image_tag 'up.svg', class: 'md:invert-0 md:hover:opacity-75 md:opacity-50 transform rotate-180' %>
      </button>
    <% end %>
    <button role="button" class="fixed h-14 md:bottom-8 bottom-40 right-8 z-20 text-white rounded-full bg-gray-100 md:bg-gray-200 md:shadow text-3xl w-14 p-2 cursor-pointer" data-action="click->event#top">
      <%= image_tag 'up.svg', class: 'md:invert-0 md:hover:opacity-75 md:opacity-50' %>
    </button>
    <%= render partial: 'events/trace', collection: @event.traces %>
  </div>
</div>

<%= link_to project_path(@project), class: 'md:hidden fixed h-14 bottom-24 right-8 z-20 text-white rounded-full bg-gray-100 text-3xl w-14 p-2' do %>
  <%= image_tag 'up.svg', class: 'transform -rotate-90' %>
<% end %>
